.requestForm{
    margin: 10px;
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 10px;
  }

  .equipmentList{
    margin: 7px ;
    height: 200px;
    border-radius: 10px;
    overflow: scroll;
  }

th,td{
    border: 1px, solid grey;
    height: 20px;

}
  .requestTable{
    border-radius: 10px ;
    width: 100%;
    border-collapse: collapse;
    
    table-layout: auto;
  }
  tbody tr:nth-child(odd) {
    background-color: #b1b1b1;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f1f1f1;
  }

  .requestList{
    height: 400px;
    background-color: white;
    border-radius: 10px ;
    margin: 7px ;
  }
