.navBar{
    margin: 0;
    list-style-type:none;
    background-color:#1B4079;
    display: flex;
    flex-direction:row;
    align-items: center;
    height: 60px;
}
a{
    display:inline-block;
    margin-right: 10px;
    color: #8FAD88;
    text-decoration: none;
}
.appName{
    color: #CBDF90;
    margin-right: 20px ;
}
.userInfoNavBar{
    margin-left: auto;
    color: #8FAD88;
    margin-right: 10px;
}